

<div class="grid_8">
  <div id="top_r"></div>
  <div id="side_r">
    <h1>Account Settings</h1>
    <hr style="width:500px; position:relative; left:-60px;"/>


<%= flash[:notice] %>
<%= flash[:alert] %>
<% form_tag "/users/change_password_update" do %>

      <%= label_tag "old_pass", "Old Password",   :class=> "scd"  %>:
      <%= password_field_tag  "old_password"  %><br/>
      <%= label_tag "new_pass", "New Password",   :class=> "scd"  %>:
      <%= password_field_tag "password"  %><br/>
      <%= label_tag "confirm_pass", "Confirm Password",  :class=> "scd" %>:
      <%= password_field_tag "password_confirmation"  %><br/>
     
     
<%=  submit_tag "Edit", :disable_with => "Editing..." %>
 <% end %>

<hr style="width: 500px; position: relative; left: -60px;"/>

<% form_tag "/users/change_email" do %>
 <%= label_tag "email", "Email Address", :class =>"scd" %>:
      <%= text_field_tag "email", "#{current_user.email}"%><br/>
      <%= check_box_tag("acceptq1", false) %><span class="inst">Allow us to send notifications through your email</span><br/>
<div style="float:right; margin-right:50px;"> <%= link_to "Done", wards_path%></div>
<%=  submit_tag "Edit", :disable_with => "Editing..." %> 
 
    <% end %>
  
    <!--
            <form action="follower_prof.html">

                <fieldset>
                <label><b><%= current_user.login %></b></label><br/>
                    <label class="scd">New Password</label><input type="password" name="firstname" size="30" value="masta@yahoo.com"/><br/>
                    <label class="scd">Confirm Password</label><input type="password" name="firstname" size="30" value="masta@yahoo.com"/><br/>
                    <label class="scd">Email Address</label><input type="text" name="firstname" size="30" value="masta@yahoo.com"/><br/>
                <input type="checkbox" name="acceptq1" value="1"/><span class="inst">Allow us to send notifications through your email</a></span><br/>
                <input type="submit" value="Cancel" />
                <input type="submit" value="Save" />
                </fieldset>

            </form>-->


  </div>
  <div id="bot_r"></div>



</div>
<div class="grid_4" id ="tehside_r">
  <div id="par2"><p>To ensure the security of the ward's school information, our proposed system will require a username and password for the users to view their own ward/s' information. Keep your passwords safe! 	</p></div>
  <div id="pic_r2"></div>

</div>



<div class = "grid_12" id = "footer">
  <div id="f_links">
    <a href ="index.html">Home  </a>  :  <a href ="tos.html">Terms &amp; Conditions </a> :   <a href ="pri.html">Privacy Policy </a>  <br/> <a href ="cont.html"> Contact Us</a> :  <a href ="about.html"> About OASIS</a> : <a href="sitemap.html"> Site Map</a><br/>
    <!--	<span>&copy; Saint Louis University, 2008. All rights reserved.</span><br/>-->
    <span><a href = "http://validator.w3.org/check-uri=referer">XHTML 1.0 valid</a> :
    <a href ="http://jigsaw.w3.org/css-validator/"> Valid CSS 2.1!</a></span>

  </div>

</div>
