

<div class="grid_8">
  <div id="top_r"></div>
  <div id="side_r">
    <h1>Account Settings-NOT WORKING YET</h1>
    <hr style="width:500px; position:relative; left:-60px;"/>


    <p id="notice"></p>


    <% form_remote_tag  :url=>"/users/change_password_update" do %>
      <span class="inst"><b>Password</b></span><br/>
      <table>
        <tbody>
          <tr ><td width="155" > <%= label_tag "old_pass", "Old Password",   :class=> "fst"  %>: <td><%= password_field_tag  "old_password"  %></td></td><td class="col_explain"><div id="opassmsg" class="sml">Your old password</div>   </td></tr>
          <tr><td>   <%= label_tag "new_pass", "New Password",   :class=> "fst"  %>: <td><%= password_field_tag "password"  %></td></td><td class="col_explain"> <div id="passmsg" class="sml">Your new password</div>  </td></tr>
          <tr><td>  <%= label_tag "confirm_pass", "Confirm Password",  :class=> "fst" %>:<td> <%= password_field_tag "password_confirmation"  %> </td></td><td class="col_explain"> <div id="cpassmsg" class="sml">Confirm your new password</div></td></tr>

        </tbody>

      </table>
      <div style="text-align:center;width:500px;">
        <%=  submit_tag "Save Changes", :disable_with => "Saving..." %>
      <% end %>
    </div>






    <hr style="width: 500px; position: relative; left: -60px;"/>
    <p id="n_notice"></p>
    <% form_remote_tag :url=>"/users/change_profile_update" do %>
      <span class="inst"><b>Profile</b></span><br/>



      <table>
        <tbody>
          <tr><td width="155">  <%= label_tag "n_name", "Nickname",   :class=> "fst"  %>:
          <td><%= text_field_tag  "n_name", "#{current_user.nickname}"  %></td></td><td class="col_explain"><div id="nicknamemsg" class="sml"><%= error_message_on "user", :nickname%></div></td></tr>

          <tr><td> <%= label_tag "address", "Address",   :class=> "fst"  %>:
          <td> <%= text_field_tag  "address","#{current_user.address}"  %></td></td><td class="col_explain"><div id="addressmsg" class="sml">Enter your home address.<%= error_message_on "user", :address%></div> </td></tr>
        </tbody>
      </table>

      <!--
  <%= label_tag "f_name", "First Name",   :class=> "scd"  %>:
  <%= text_field_tag  "f_name","#{current_user.first_name}"  %><br/>
  <%= label_tag "m_name", "Middle Name",   :class=> "scd"  %>:
  <%= text_field_tag  "m_name", "#{current_user.middle_name}"  %><br/>
  <%= label_tag "l_name", "Last Name",  :class=> "scd" %>:
  <%= text_field_tag  "l_name", "#{current_user.last_name}"  %><br/>
                  -->





      <div style="text-align:center;width:500px;">
        <%=  submit_tag "Save Changes", :disable_with => "Saving..." %>
      <% end %>
    </div>


    <hr style="width: 500px; position: relative; left: -60px;"/>
    <span class="inst"><b>Notification Settings</b></span><br/>
    <p id="e_notice"></p>
    <% form_remote_tag :url=>"/users/change_email" do %>

      <table>

        <tr><td width="155"><%= label_tag "email", "Email Address", :class =>"fst" %>:
        <td><%= text_field_tag "email", "#{current_user.email}"%></td></td><td class="col_explain"> <div id="emailmsg" class="sml"><%= error_message_on "user", :email%></div></td></tr>
        <tr><td><%= label_tag "cp", "Mobile Number", :class =>"fst" %>:
        <td><%= text_field_tag "cp", "#{current_user.cp_number}"%></td></td><td class="col_explain"><div id="cp_numbermsg" class="sml"><%= error_message_on "user", :cp_number%></div></td></tr>
        <tr><td><%= label_tag "lang_set", "Language",   :class=> "fst"  %>:
        <td><%=select_tag "lang", @lang  %></td></td></tr>
      </table>

        <%= check_box_tag "val1", "true", @checkemail%>
       
      

      <span class="inst">Allow us to send notifications through your email <%= @checkcp %></span><br/>

   
          <%= check_box_tag "val2", "true", @checkcp %>
   
      <span class="inst">Allow us to send notifications through your cellphone <%= @checkemail %></span><br/>



      <div style="text-align:center;width:500px;">
        <%=  submit_tag "Save Changes", :disable_with => "Saving..." %>

      </div>






    <% end %>
    <hr style="width: 500px; position: relative; left: -60px;"/>

    <%= button_to "Back to Wards Page", :action => 'index', :controller => 'oasis' %>


  </div>
  <div id="bot_r"></div>



</div>
<div class="grid_4" id ="tehside_r">
  <div id="par2"><p>To ensure the security of the ward's school information, our proposed system will require a username and password for the users to view their own ward/s' information. Keep your passwords safe! 	</p></div>
  <div id="pic_r2"></div>

</div>

<%= observe_field("old_password",
  :frequency => 0.25,
  :update => :opassmsg,
  :url => { :action => :vold_password }, :with =>'password') %>
<%= observe_field("password",
  :frequency => 0.25,
  :update => :passmsg,
  :url => { :action => :vpassword }, :with =>'password') %>
<%= observe_field("n_name",
  :frequency => 0.25,
  :update => :nicknamemsg,
  :url => { :action => :vnickname }, :with =>'nickname') %>
<%= observe_field("address",
  :frequency => 0.25,
  :update => :addressmsg,
  :url => { :action => :vaddress }, :with =>'address') %>
<%= observe_field("email",
  :frequency => 0.25,
  :update => :emailmsg,
  :url => { :action => :vemail }, :with =>'email') %>
<%= observe_field("cp",
  :frequency => 0.25,
  :update => :cp_numbermsg,
  :url => { :action => :vcp_number }, :with =>'cp_number') %>


