

<div class="grid_8">
  <div id="top_r"></div>
  <div id="side_r">
    <h1>Account Settings</h1>
    <hr style="width:500px; position:relative; left:-60px;"/>


    <%= flash[:notice] %>
    <%= flash[:alert] %>
    <% form_tag "/users/change_password_update" do %>
      <span class="inst"><b>Password</b></span><br/>
      <%= label_tag "old_pass", "Old Password",   :class=> "scd"  %>:
      <%= password_field_tag  "old_password"  %><br/>
      <%= label_tag "new_pass", "New Password",   :class=> "scd"  %>:
      <%= password_field_tag "password"  %><br/>
      <%= label_tag "confirm_pass", "Confirm Password",  :class=> "scd" %>:
      <%= password_field_tag "password_confirmation"  %><br/>

      <span class="scd">&nbsp;</span>
      <%=  submit_tag "Save Changes", :disable_with => "Saving..." %>
    <% end %>

    <hr style="width: 500px; position: relative; left: -60px;"/>

    <% form_tag "/users/change_profile_update" do %>
      <span class="inst"><b>Profile</b></span><br/>
      <!--
      <%= label_tag "f_name", "First Name",   :class=> "scd"  %>:
      <%= text_field_tag  "f_name","#{current_user.first_name}"  %><br/>
      <%= label_tag "m_name", "Middle Name",   :class=> "scd"  %>:
      <%= text_field_tag  "m_name", "#{current_user.middle_name}"  %><br/>
      <%= label_tag "l_name", "Last Name",  :class=> "scd" %>:
      <%= text_field_tag  "l_name", "#{current_user.last_name}"  %><br/>
      -->

      
       <%= label_tag "n_name", "Nickname",   :class=> "scd"  %>:
      <%= text_field_tag  "n_name", "#{current_user.nickname}"  %><br/>
       <%= label_tag "address", "Address",   :class=> "scd"  %>:
      <%= text_field_tag  "m_name","#{current_user.address}"  %><br/>
      <span class="scd">&nbsp;</span>
      <%=  submit_tag "Save Changes", :disable_with => "Saving..." %>
    <% end %>



    <hr style="width: 500px; position: relative; left: -60px;"/>
    <% form_tag "/users/change_email" do %>
      <span class="inst"><b>Other Settings</b></span><br/>
      <%= label_tag "email", "Email Address", :class =>"scd" %>:
      <%= text_field_tag "email", "#{current_user.email}"%><br/> <span class="scd">&nbsp;</span>
      <%= check_box_tag("acceptq1", false ) %><span class="inst">Allow us to send notifications through your email</span><br/>
      <%= label_tag "cp", "Cellphone Number", :class =>"scd" %>:
      <%= text_field_tag "cp", "+639275016200"%><br/> <span class="scd">&nbsp;</span>
      <%= check_box_tag("acceptq1", false) %><span class="inst">Allow us to send notifications through your cellphone</span><br/>
       <%= label_tag "lang_set", "Language preference",   :class=> "scd"  %>:
       <%=select_tag "lang","<option>English</option> <option>Filipino</option>"  %><br/>
       <br/>
      <span class="scd">&nbsp;</span>

      <%=  submit_tag "Save Changes", :disable_with => "Saving..." %>
      <hr style="width: 500px; position: relative; left: -60px;"/>
     

    


    <% end %>
     <div style="float:right; margin-right:290px;">
  <br/>
<%= button_to "Back to Wards Page", :action => 'index', :controller => 'oasis' %></div>
    <!--
            <form action="follower_prof.html">

                <fieldset>
                <label><b><%= current_user.login %></b></label><br/>
                    <label class="scd">New Password</label><input type="password" name="firstname" size="30" value="masta@yahoo.com"/><br/>
                    <label class="scd">Confirm Password</label><input type="password" name="firstname" size="30" value="masta@yahoo.com"/><br/>
                    <label class="scd">Email Address</label><input type="text" name="firstname" size="30" value="masta@yahoo.com"/><br/>
                <input type="checkbox" name="acceptq1" value="1"/><span class="inst">Allow us to send notifications through your email</a></span><br/>
                <input type="submit" value="Cancel" />
                <input type="submit" value="Save" />
                </fieldset>

            </form>-->


  </div>
  <div id="bot_r"></div>



</div>
<div class="grid_4" id ="tehside_r">
  <div id="par2"><p>To ensure the security of the ward's school information, our proposed system will require a username and password for the users to view their own ward/s' information. Keep your passwords safe! 	</p></div>
  <div id="pic_r2"></div>

</div>



